.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1E3A8A; /* Azul Escuro */
    padding: 20px;
    color: #FFFFFF;
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .nav-link {
    margin-left: 20px;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 16px;
  }
  
  .nav-link:hover {
    color: #93C5FD; /* Azul Claro */
  }
  
  .logout-button {
    margin-left: 20px;
    background: none;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 16px;
  }
  
  .logout-button:hover {
    color: #93C5FD; /* Azul Claro */
  }